#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #3F51B5, 1779px 795px #3F51B5, 1154px 812px #3F51B5, 1328px 800px #3F51B5, 1262px 1251px #3F51B5, 1976px 432px #3F51B5, 1650px 1853px #3F51B5, 1001px 468px #3F51B5, 609px 405px #3F51B5, 1842px 1576px #3F51B5, 742px 1365px #3F51B5, 321px 1286px #3F51B5, 462px 926px #3F51B5, 481px 458px #3F51B5, 484px 1952px #3F51B5, 380px 1267px #3F51B5, 1122px 820px #3F51B5, 1626px 1217px #3F51B5, 1953px 1255px #3F51B5, 1728px 140px #3F51B5, 1430px 1262px #3F51B5, 7px 463px #3F51B5, 1664px 338px #3F51B5, 63px 11px #3F51B5, 552px 438px #3F51B5, 3px 783px #3F51B5, 1247px 361px #3F51B5, 803px 121px #3F51B5, 755px 1435px #3F51B5, 659px 1572px #3F51B5, 462px 256px #3F51B5, 654px 1979px #3F51B5, 1747px 1521px #3F51B5, 1222px 1922px #3F51B5, 1615px 1672px #3F51B5, 980px 918px #3F51B5, 1477px 1509px #3F51B5, 1311px 365px #3F51B5, 286px 1255px #3F51B5, 897px 1108px #3F51B5, 770px 330px #3F51B5, 337px 598px #3F51B5, 1192px 711px #3F51B5, 1656px 1284px #3F51B5, 1808px 543px #3F51B5, 1099px 608px #3F51B5, 1215px 157px #3F51B5, 1670px 748px #3F51B5, 110px 734px #3F51B5, 1513px 1678px #3F51B5, 137px 1969px #3F51B5, 242px 1029px #3F51B5, 670px 606px #3F51B5, 1173px 1915px #3F51B5, 1730px 1946px #3F51B5, 1617px 1395px #3F51B5, 294px 1214px #3F51B5, 942px 1551px #3F51B5, 327px 885px #3F51B5, 1961px 128px #3F51B5, 314px 333px #3F51B5, 845px 1457px #3F51B5, 1293px 408px #3F51B5, 1058px 582px #3F51B5, 1981px 1771px #3F51B5, 1473px 311px #3F51B5, 1227px 955px #3F51B5, 1937px 1262px #3F51B5, 754px 624px #3F51B5, 266px 619px #3F51B5, 182px 1621px #3F51B5, 29px 802px #3F51B5, 1075px 298px #3F51B5, 1986px 1900px #3F51B5, 1770px 447px #3F51B5, 1291px 57px #3F51B5, 782px 1535px #3F51B5, 1312px 111px #3F51B5, 1194px 651px #3F51B5, 899px 193px #3F51B5, 282px 163px #3F51B5, 1341px 998px #3F51B5, 379px 1540px #3F51B5, 406px 1584px #3F51B5, 1227px 223px #3F51B5, 1525px 402px #3F51B5, 66px 1842px #3F51B5, 1531px 1873px #3F51B5, 1303px 376px #3F51B5, 1949px 1797px #3F51B5, 1093px 1018px #3F51B5, 937px 886px #3F51B5, 1954px 1675px #3F51B5, 1957px 304px #3F51B5, 74px 400px #3F51B5, 556px 1123px #3F51B5, 1659px 1330px #3F51B5, 1110px 916px #3F51B5, 503px 271px #3F51B5, 1574px 1851px #3F51B5, 436px 1833px #3F51B5, 175px 1150px #3F51B5, 43px 1691px #3F51B5, 1758px 1857px #3F51B5, 413px 257px #3F51B5, 596px 336px #3F51B5, 1608px 338px #3F51B5, 333px 108px #3F51B5, 794px 1318px #3F51B5, 1150px 73px #3F51B5, 891px 1149px #3F51B5, 1614px 387px #3F51B5, 1930px 1770px #3F51B5, 465px 591px #3F51B5, 394px 472px #3F51B5, 438px 1877px #3F51B5, 537px 1345px #3F51B5, 583px 470px #3F51B5, 1493px 1112px #3F51B5, 1437px 1380px #3F51B5, 494px 1304px #3F51B5, 17px 1388px #3F51B5, 1001px 1558px #3F51B5, 10px 978px #3F51B5, 25px 1053px #3F51B5, 732px 576px #3F51B5, 1169px 297px #3F51B5, 915px 1519px #3F51B5, 280px 1149px #3F51B5, 1430px 761px #3F51B5, 45px 208px #3F51B5, 1790px 1104px #3F51B5, 953px 296px #3F51B5, 1480px 733px #3F51B5, 1024px 1171px #3F51B5, 1473px 1335px #3F51B5, 631px 329px #3F51B5, 1498px 1792px #3F51B5, 385px 1825px #3F51B5, 483px 781px #3F51B5, 1888px 85px #3F51B5, 1659px 715px #3F51B5, 192px 177px #3F51B5, 275px 1243px #3F51B5, 1203px 1087px #3F51B5, 412px 857px #3F51B5, 1302px 1270px #3F51B5, 787px 389px #3F51B5, 751px 1838px #3F51B5, 1381px 1377px #3F51B5, 196px 878px #3F51B5, 134px 277px #3F51B5, 145px 549px #3F51B5, 1957px 1961px #3F51B5, 1120px 1050px #3F51B5, 1354px 972px #3F51B5, 1158px 1771px #3F51B5, 47px 352px #3F51B5, 1112px 584px #3F51B5, 164px 1386px #3F51B5, 1273px 1782px #3F51B5, 110px 780px #3F51B5, 502px 299px #3F51B5, 1768px 933px #3F51B5, 886px 1287px #3F51B5, 1309px 1130px #3F51B5, 847px 776px #3F51B5, 1713px 269px #3F51B5, 1718px 795px #3F51B5, 1984px 717px #3F51B5, 985px 341px #3F51B5, 1462px 1078px #3F51B5, 1702px 1461px #3F51B5, 167px 1873px #3F51B5, 862px 1117px #3F51B5, 1968px 932px #3F51B5, 814px 91px #3F51B5, 1530px 607px #3F51B5, 1799px 1571px #3F51B5, 1868px 1734px #3F51B5, 1800px 1137px #3F51B5, 52px 178px #3F51B5, 901px 853px #3F51B5, 1181px 1232px #3F51B5, 209px 650px #3F51B5, 1165px 1321px #3F51B5, 1046px 159px #3F51B5, 578px 1748px #3F51B5, 18px 337px #3F51B5, 70px 1062px #3F51B5, 1670px 270px #3F51B5, 1828px 1321px #3F51B5, 1817px 336px #3F51B5, 124px 1935px #3F51B5, 1840px 594px #3F51B5, 836px 1194px #3F51B5, 1292px 1801px #3F51B5, 1547px 945px #3F51B5, 500px 1563px #3F51B5, 569px 376px #3F51B5, 1107px 1627px #3F51B5, 662px 717px #3F51B5, 1352px 762px #3F51B5, 771px 1694px #3F51B5, 1529px 484px #3F51B5, 1609px 798px #3F51B5, 652px 627px #3F51B5, 498px 20px #3F51B5, 1308px 164px #3F51B5, 245px 1239px #3F51B5, 1131px 860px #3F51B5, 1028px 333px #3F51B5, 765px 1760px #3F51B5, 1627px 684px #3F51B5, 70px 1586px #3F51B5, 63px 1230px #3F51B5, 1727px 465px #3F51B5, 1946px 1862px #3F51B5, 169px 956px #3F51B5, 121px 1826px #3F51B5, 1615px 725px #3F51B5, 1225px 1925px #3F51B5, 1678px 323px #3F51B5, 606px 371px #3F51B5, 616px 985px #3F51B5, 490px 1898px #3F51B5, 516px 1019px #3F51B5, 878px 1448px #3F51B5, 1533px 98px #3F51B5, 625px 1152px #3F51B5, 224px 522px #3F51B5, 215px 245px #3F51B5, 153px 669px #3F51B5, 1530px 1652px #3F51B5, 1796px 1697px #3F51B5, 908px 1456px #3F51B5, 1326px 1947px #3F51B5, 1294px 872px #3F51B5, 806px 1296px #3F51B5, 783px 556px #3F51B5, 1075px 973px #3F51B5, 613px 505px #3F51B5, 1160px 833px #3F51B5, 1053px 1793px #3F51B5, 1343px 1990px #3F51B5, 937px 254px #3F51B5, 1084px 234px #3F51B5, 575px 374px #3F51B5, 367px 1656px #3F51B5, 494px 510px #3F51B5, 1403px 1242px #3F51B5, 1827px 1741px #3F51B5, 1239px 616px #3F51B5, 579px 1670px #3F51B5, 971px 836px #3F51B5, 1025px 813px #3F51B5, 707px 1407px #3F51B5, 188px 1777px #3F51B5, 1576px 18px #3F51B5, 1px 533px #3F51B5, 1123px 589px #3F51B5, 88px 705px #3F51B5, 1844px 679px #3F51B5, 121px 350px #3F51B5, 1853px 470px #3F51B5, 1333px 263px #3F51B5, 1702px 957px #3F51B5, 475px 725px #3F51B5, 1650px 75px #3F51B5, 1372px 11px #3F51B5, 714px 353px #3F51B5, 968px 461px #3F51B5, 1413px 1400px #3F51B5, 1856px 1724px #3F51B5, 793px 1524px #3F51B5, 1717px 962px #3F51B5, 1263px 1567px #3F51B5, 1621px 1961px #3F51B5, 537px 243px #3F51B5, 912px 1140px #3F51B5, 659px 1300px #3F51B5, 113px 516px #3F51B5, 1111px 1738px #3F51B5, 336px 953px #3F51B5, 1038px 248px #3F51B5, 692px 935px #3F51B5, 516px 1451px #3F51B5, 1057px 401px #3F51B5, 1014px 388px #3F51B5, 1363px 1764px #3F51B5, 855px 745px #3F51B5, 57px 767px #3F51B5, 779px 1263px #3F51B5, 1746px 1797px #3F51B5, 1975px 848px #3F51B5, 1051px 941px #3F51B5, 79px 1146px #3F51B5, 1945px 1015px #3F51B5, 1506px 1855px #3F51B5, 955px 730px #3F51B5, 27px 1865px #3F51B5, 1378px 1691px #3F51B5, 969px 1738px #3F51B5, 206px 842px #3F51B5, 1068px 91px #3F51B5, 1466px 1725px #3F51B5, 533px 1091px #3F51B5, 1205px 748px #3F51B5, 324px 398px #3F51B5, 1417px 1048px #3F51B5, 349px 1827px #3F51B5, 730px 1048px #3F51B5, 1671px 690px #3F51B5, 1441px 1068px #3F51B5, 251px 925px #3F51B5, 144px 1631px #3F51B5, 108px 1524px #3F51B5, 187px 1172px #3F51B5, 183px 403px #3F51B5, 907px 1873px #3F51B5, 973px 104px #3F51B5, 65px 1390px #3F51B5, 372px 1486px #3F51B5, 424px 765px #3F51B5, 1410px 350px #3F51B5, 760px 827px #3F51B5, 1179px 612px #3F51B5, 251px 1106px #3F51B5, 657px 851px #3F51B5, 63px 925px #3F51B5, 1272px 1791px #3F51B5, 1361px 1189px #3F51B5, 778px 1101px #3F51B5, 817px 1436px #3F51B5, 1884px 1440px #3F51B5, 1662px 1781px #3F51B5, 276px 990px #3F51B5, 1835px 1617px #3F51B5, 1516px 246px #3F51B5, 544px 1792px #3F51B5, 667px 1652px #3F51B5, 1142px 1221px #3F51B5, 1417px 38px #3F51B5, 33px 1467px #3F51B5, 1087px 1608px #3F51B5, 1406px 1323px #3F51B5, 440px 1564px #3F51B5, 1697px 758px #3F51B5, 743px 340px #3F51B5, 1244px 218px #3F51B5, 1382px 1783px #3F51B5, 539px 1285px #3F51B5, 273px 592px #3F51B5, 1268px 444px #3F51B5, 1302px 70px #3F51B5, 989px 478px #3F51B5, 1044px 1477px #3F51B5, 395px 803px #3F51B5, 1609px 1799px #3F51B5, 999px 100px #3F51B5, 1444px 2000px #3F51B5, 1966px 1675px #3F51B5, 51px 822px #3F51B5, 1387px 825px #3F51B5, 983px 440px #3F51B5, 1269px 624px #3F51B5, 1303px 1455px #3F51B5, 666px 313px #3F51B5, 1776px 132px #3F51B5, 1041px 1523px #3F51B5, 168px 1599px #3F51B5, 1714px 604px #3F51B5, 657px 594px #3F51B5, 1301px 1318px #3F51B5, 961px 541px #3F51B5, 310px 422px #3F51B5, 636px 1847px #3F51B5, 814px 1005px #3F51B5, 444px 1093px #3F51B5, 583px 1551px #3F51B5, 1746px 1807px #3F51B5, 1550px 1359px #3F51B5, 283px 1837px #3F51B5, 1257px 1772px #3F51B5, 1620px 1691px #3F51B5, 727px 1180px #3F51B5, 798px 1744px #3F51B5, 754px 1707px #3F51B5, 1871px 189px #3F51B5, 1355px 1000px #3F51B5, 1839px 599px #3F51B5, 7px 1689px #3F51B5, 775px 966px #3F51B5, 231px 1980px #3F51B5, 1231px 717px #3F51B5, 1748px 1658px #3F51B5, 385px 1352px #3F51B5, 1168px 182px #3F51B5, 576px 997px #3F51B5, 1955px 279px #3F51B5, 314px 1162px #3F51B5, 626px 1525px #3F51B5, 1372px 597px #3F51B5, 168px 809px #3F51B5, 1559px 1646px #3F51B5, 1316px 600px #3F51B5, 1903px 1615px #3F51B5, 1899px 173px #3F51B5, 1936px 1042px #3F51B5, 977px 180px #3F51B5, 80px 1132px #3F51B5, 1258px 287px #3F51B5, 1944px 1624px #3F51B5, 1710px 1271px #3F51B5, 859px 315px #3F51B5, 658px 601px #3F51B5, 444px 516px #3F51B5, 1443px 70px #3F51B5, 61px 1468px #3F51B5, 67px 338px #3F51B5, 1888px 711px #3F51B5, 1838px 1848px #3F51B5, 1252px 774px #3F51B5, 1986px 1392px #3F51B5, 1734px 213px #3F51B5, 1904px 76px #3F51B5, 1503px 1882px #3F51B5, 268px 113px #3F51B5, 1124px 387px #3F51B5, 565px 1591px #3F51B5, 446px 1116px #3F51B5, 1861px 661px #3F51B5, 55px 1090px #3F51B5, 328px 837px #3F51B5, 775px 85px #3F51B5, 436px 632px #3F51B5, 1704px 904px #3F51B5, 406px 1068px #3F51B5, 1077px 719px #3F51B5, 125px 722px #3F51B5, 1735px 174px #3F51B5, 1541px 1590px #3F51B5, 1883px 498px #3F51B5, 733px 1195px #3F51B5, 1178px 1793px #3F51B5, 254px 719px #3F51B5, 1790px 545px #3F51B5, 799px 454px #3F51B5, 1076px 1737px #3F51B5, 360px 95px #3F51B5, 516px 1367px #3F51B5, 1016px 493px #3F51B5, 1340px 15px #3F51B5, 1843px 355px #3F51B5, 416px 1857px #3F51B5, 1745px 1967px #3F51B5, 1768px 1266px #3F51B5, 778px 1437px #3F51B5, 1892px 1480px #3F51B5, 1861px 1700px #3F51B5, 1973px 832px #3F51B5, 132px 1773px #3F51B5, 1928px 1974px #3F51B5, 470px 1852px #3F51B5, 1855px 463px #3F51B5, 892px 1018px #3F51B5, 374px 1670px #3F51B5, 140px 391px #3F51B5, 1868px 1945px #3F51B5, 505px 1988px #3F51B5, 1798px 1514px #3F51B5, 134px 873px #3F51B5, 1319px 1278px #3F51B5, 1796px 1403px #3F51B5, 1400px 503px #3F51B5, 480px 1004px #3F51B5, 53px 434px #3F51B5, 1075px 507px #3F51B5, 1376px 13px #3F51B5, 150px 623px #3F51B5, 563px 1355px #3F51B5, 1464px 858px #3F51B5, 1123px 967px #3F51B5, 1273px 1412px #3F51B5, 1378px 1689px #3F51B5, 1390px 1248px #3F51B5, 273px 191px #3F51B5, 471px 46px #3F51B5, 1520px 780px #3F51B5, 830px 530px #3F51B5, 1369px 1915px #3F51B5, 434px 1541px #3F51B5, 1658px 753px #3F51B5, 1955px 1908px #3F51B5, 409px 1106px #3F51B5, 1609px 597px #3F51B5, 637px 1671px #3F51B5, 1957px 475px #3F51B5, 1595px 1496px #3F51B5, 1979px 1958px #3F51B5, 1364px 1658px #3F51B5, 929px 425px #3F51B5, 1197px 967px #3F51B5, 82px 1164px #3F51B5, 310px 176px #3F51B5, 1242px 1822px #3F51B5, 1081px 484px #3F51B5, 1436px 1211px #3F51B5, 992px 1826px #3F51B5, 1801px 714px #3F51B5, 1034px 16px #3F51B5, 1241px 145px #3F51B5, 1815px 811px #3F51B5, 517px 111px #3F51B5, 512px 1871px #3F51B5, 185px 1024px #3F51B5, 869px 1606px #3F51B5, 904px 1418px #3F51B5, 271px 807px #3F51B5, 1627px 1971px #3F51B5, 1048px 200px #3F51B5, 1543px 152px #3F51B5, 1559px 924px #3F51B5, 1205px 1281px #3F51B5, 1073px 697px #3F51B5, 1614px 426px #3F51B5, 1064px 1329px #3F51B5, 1963px 1252px #3F51B5, 444px 992px #3F51B5, 553px 1688px #3F51B5, 298px 578px #3F51B5, 772px 636px #3F51B5, 1755px 1446px #3F51B5, 1503px 450px #3F51B5, 504px 135px #3F51B5, 1714px 314px #3F51B5, 447px 1165px #3F51B5, 1903px 1258px #3F51B5, 1916px 434px #3F51B5, 1468px 1851px #3F51B5, 631px 244px #3F51B5, 201px 1060px #3F51B5, 88px 340px #3F51B5, 342px 1039px #3F51B5, 699px 488px #3F51B5, 1284px 1794px #3F51B5, 1458px 759px #3F51B5, 1335px 1629px #3F51B5, 1367px 1363px #3F51B5, 185px 235px #3F51B5, 76px 1315px #3F51B5, 1528px 198px #3F51B5, 471px 1165px #3F51B5, 1160px 1077px #3F51B5, 79px 473px #3F51B5, 114px 654px #3F51B5, 1400px 722px #3F51B5, 829px 1532px #3F51B5, 448px 941px #3F51B5, 627px 1987px #3F51B5, 820px 919px #3F51B5, 1506px 217px #3F51B5, 1946px 1562px #3F51B5, 142px 1489px #3F51B5, 793px 602px #3F51B5, 441px 91px #3F51B5, 259px 453px #3F51B5, 1538px 1732px #3F51B5, 1498px 1501px #3F51B5, 656px 805px #3F51B5, 1808px 1178px #3F51B5, 1954px 890px #3F51B5, 656px 1605px #3F51B5, 1177px 350px #3F51B5, 666px 992px #3F51B5, 1486px 305px #3F51B5, 661px 1647px #3F51B5, 1209px 1168px #3F51B5, 1499px 1450px #3F51B5, 554px 98px #3F51B5, 744px 1047px #3F51B5, 2px 524px #3F51B5, 383px 1086px #3F51B5, 1822px 244px #3F51B5, 1704px 1714px #3F51B5, 797px 1527px #3F51B5, 1916px 1610px #3F51B5, 1865px 860px #3F51B5, 1567px 1823px #3F51B5, 1340px 273px #3F51B5, 1133px 168px #3F51B5, 557px 1978px #3F51B5, 1419px 1724px #3F51B5, 668px 538px #3F51B5, 1411px 1026px #3F51B5, 1194px 1431px #3F51B5, 267px 1899px #3F51B5, 556px 950px #3F51B5, 1847px 1514px #3F51B5, 255px 131px #3F51B5, 442px 441px #3F51B5, 1089px 1011px #3F51B5, 1931px 1781px #3F51B5, 187px 119px #3F51B5, 1317px 1797px #3F51B5, 15px 971px #3F51B5, 1542px 618px #3F51B5, 594px 1216px #3F51B5, 523px 1980px #3F51B5, 682px 1977px #3F51B5, 1840px 1934px #3F51B5, 73px 1975px #3F51B5, 192px 37px #3F51B5, 1796px 1491px #3F51B5, 237px 418px #3F51B5, 635px 1936px #3F51B5, 735px 421px #3F51B5, 1785px 1564px #3F51B5, 85px 1401px #3F51B5, 288px 1436px #3F51B5, 972px 1682px #3F51B5, 986px 206px #3F51B5, 730px 1225px #3F51B5, 569px 557px #3F51B5, 1805px 1898px #3F51B5, 488px 1963px #3F51B5, 877px 997px #3F51B5, 545px 1029px #3F51B5, 1725px 1017px #3F51B5, 1320px 1855px #3F51B5, 1220px 409px #3F51B5, 1911px 453px #3F51B5, 784px 636px #3F51B5, 570px 862px #3F51B5, 1009px 7px #3F51B5, 432px 1640px #3F51B5, 1941px 1197px #3F51B5, 422px 994px #3F51B5, 465px 1879px #3F51B5, 918px 200px #3F51B5, 1978px 1313px #3F51B5, 520px 954px #3F51B5, 1270px 1594px #3F51B5, 1087px 578px #3F51B5, 1597px 58px #3F51B5, 1782px 550px #3F51B5, 274px 204px #3F51B5, 1743px 1662px #3F51B5, 441px 1338px #3F51B5, 545px 1844px #3F51B5, 1702px 894px #3F51B5, 1760px 1426px #3F51B5, 795px 1068px #3F51B5, 1076px 373px #3F51B5, 1666px 1594px #3F51B5, 1490px 1257px #3F51B5, 7px 1967px #3F51B5, 357px 1354px #3F51B5, 1740px 1071px #3F51B5, 1876px 1981px #3F51B5, 421px 1758px #3F51B5, 750px 1071px #3F51B5, 963px 266px #3F51B5, 918px 1422px #3F51B5, 811px 463px #3F51B5, 1084px 1186px #3F51B5, 950px 1852px #3F51B5, 709px 916px #3F51B5, 37px 1612px #3F51B5, 777px 747px #3F51B5, 749px 1663px #3F51B5, 1036px 600px #3F51B5, 1951px 1697px #3F51B5, 1208px 1139px #3F51B5, 549px 400px #3F51B5, 1144px 584px #3F51B5, 1466px 1315px #3F51B5, 131px 826px #3F51B5, 172px 1097px #3F51B5, 253px 97px #3F51B5, 197px 422px #3F51B5, 792px 25px #3F51B5, 957px 1632px #3F51B5, 1209px 889px #3F51B5, 826px 638px #3F51B5, 1464px 1137px #3F51B5, 1189px 2px #3F51B5, 1737px 1514px #3F51B5, 142px 954px #3F51B5, 1831px 544px #3F51B5, 1008px 779px #3F51B5, 1889px 257px #3F51B5, 1006px 1085px #3F51B5, 428px 1043px #3F51B5, 1915px 1585px #3F51B5, 232px 1935px #3F51B5, 767px 706px #3F51B5, 431px 334px #3F51B5, 897px 15px #3F51B5, 705px 146px #3F51B5;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #3F51B5, 1779px 795px #3F51B5, 1154px 812px #3F51B5, 1328px 800px #3F51B5, 1262px 1251px #3F51B5, 1976px 432px #3F51B5, 1650px 1853px #3F51B5, 1001px 468px #3F51B5, 609px 405px #3F51B5, 1842px 1576px #3F51B5, 742px 1365px #3F51B5, 321px 1286px #3F51B5, 462px 926px #3F51B5, 481px 458px #3F51B5, 484px 1952px #3F51B5, 380px 1267px #3F51B5, 1122px 820px #3F51B5, 1626px 1217px #3F51B5, 1953px 1255px #3F51B5, 1728px 140px #3F51B5, 1430px 1262px #3F51B5, 7px 463px #3F51B5, 1664px 338px #3F51B5, 63px 11px #3F51B5, 552px 438px #3F51B5, 3px 783px #3F51B5, 1247px 361px #3F51B5, 803px 121px #3F51B5, 755px 1435px #3F51B5, 659px 1572px #3F51B5, 462px 256px #3F51B5, 654px 1979px #3F51B5, 1747px 1521px #3F51B5, 1222px 1922px #3F51B5, 1615px 1672px #3F51B5, 980px 918px #3F51B5, 1477px 1509px #3F51B5, 1311px 365px #3F51B5, 286px 1255px #3F51B5, 897px 1108px #3F51B5, 770px 330px #3F51B5, 337px 598px #3F51B5, 1192px 711px #3F51B5, 1656px 1284px #3F51B5, 1808px 543px #3F51B5, 1099px 608px #3F51B5, 1215px 157px #3F51B5, 1670px 748px #3F51B5, 110px 734px #3F51B5, 1513px 1678px #3F51B5, 137px 1969px #3F51B5, 242px 1029px #3F51B5, 670px 606px #3F51B5, 1173px 1915px #3F51B5, 1730px 1946px #3F51B5, 1617px 1395px #3F51B5, 294px 1214px #3F51B5, 942px 1551px #3F51B5, 327px 885px #3F51B5, 1961px 128px #3F51B5, 314px 333px #3F51B5, 845px 1457px #3F51B5, 1293px 408px #3F51B5, 1058px 582px #3F51B5, 1981px 1771px #3F51B5, 1473px 311px #3F51B5, 1227px 955px #3F51B5, 1937px 1262px #3F51B5, 754px 624px #3F51B5, 266px 619px #3F51B5, 182px 1621px #3F51B5, 29px 802px #3F51B5, 1075px 298px #3F51B5, 1986px 1900px #3F51B5, 1770px 447px #3F51B5, 1291px 57px #3F51B5, 782px 1535px #3F51B5, 1312px 111px #3F51B5, 1194px 651px #3F51B5, 899px 193px #3F51B5, 282px 163px #3F51B5, 1341px 998px #3F51B5, 379px 1540px #3F51B5, 406px 1584px #3F51B5, 1227px 223px #3F51B5, 1525px 402px #3F51B5, 66px 1842px #3F51B5, 1531px 1873px #3F51B5, 1303px 376px #3F51B5, 1949px 1797px #3F51B5, 1093px 1018px #3F51B5, 937px 886px #3F51B5, 1954px 1675px #3F51B5, 1957px 304px #3F51B5, 74px 400px #3F51B5, 556px 1123px #3F51B5, 1659px 1330px #3F51B5, 1110px 916px #3F51B5, 503px 271px #3F51B5, 1574px 1851px #3F51B5, 436px 1833px #3F51B5, 175px 1150px #3F51B5, 43px 1691px #3F51B5, 1758px 1857px #3F51B5, 413px 257px #3F51B5, 596px 336px #3F51B5, 1608px 338px #3F51B5, 333px 108px #3F51B5, 794px 1318px #3F51B5, 1150px 73px #3F51B5, 891px 1149px #3F51B5, 1614px 387px #3F51B5, 1930px 1770px #3F51B5, 465px 591px #3F51B5, 394px 472px #3F51B5, 438px 1877px #3F51B5, 537px 1345px #3F51B5, 583px 470px #3F51B5, 1493px 1112px #3F51B5, 1437px 1380px #3F51B5, 494px 1304px #3F51B5, 17px 1388px #3F51B5, 1001px 1558px #3F51B5, 10px 978px #3F51B5, 25px 1053px #3F51B5, 732px 576px #3F51B5, 1169px 297px #3F51B5, 915px 1519px #3F51B5, 280px 1149px #3F51B5, 1430px 761px #3F51B5, 45px 208px #3F51B5, 1790px 1104px #3F51B5, 953px 296px #3F51B5, 1480px 733px #3F51B5, 1024px 1171px #3F51B5, 1473px 1335px #3F51B5, 631px 329px #3F51B5, 1498px 1792px #3F51B5, 385px 1825px #3F51B5, 483px 781px #3F51B5, 1888px 85px #3F51B5, 1659px 715px #3F51B5, 192px 177px #3F51B5, 275px 1243px #3F51B5, 1203px 1087px #3F51B5, 412px 857px #3F51B5, 1302px 1270px #3F51B5, 787px 389px #3F51B5, 751px 1838px #3F51B5, 1381px 1377px #3F51B5, 196px 878px #3F51B5, 134px 277px #3F51B5, 145px 549px #3F51B5, 1957px 1961px #3F51B5, 1120px 1050px #3F51B5, 1354px 972px #3F51B5, 1158px 1771px #3F51B5, 47px 352px #3F51B5, 1112px 584px #3F51B5, 164px 1386px #3F51B5, 1273px 1782px #3F51B5, 110px 780px #3F51B5, 502px 299px #3F51B5, 1768px 933px #3F51B5, 886px 1287px #3F51B5, 1309px 1130px #3F51B5, 847px 776px #3F51B5, 1713px 269px #3F51B5, 1718px 795px #3F51B5, 1984px 717px #3F51B5, 985px 341px #3F51B5, 1462px 1078px #3F51B5, 1702px 1461px #3F51B5, 167px 1873px #3F51B5, 862px 1117px #3F51B5, 1968px 932px #3F51B5, 814px 91px #3F51B5, 1530px 607px #3F51B5, 1799px 1571px #3F51B5, 1868px 1734px #3F51B5, 1800px 1137px #3F51B5, 52px 178px #3F51B5, 901px 853px #3F51B5, 1181px 1232px #3F51B5, 209px 650px #3F51B5, 1165px 1321px #3F51B5, 1046px 159px #3F51B5, 578px 1748px #3F51B5, 18px 337px #3F51B5, 70px 1062px #3F51B5, 1670px 270px #3F51B5, 1828px 1321px #3F51B5, 1817px 336px #3F51B5, 124px 1935px #3F51B5, 1840px 594px #3F51B5, 836px 1194px #3F51B5, 1292px 1801px #3F51B5, 1547px 945px #3F51B5, 500px 1563px #3F51B5, 569px 376px #3F51B5, 1107px 1627px #3F51B5, 662px 717px #3F51B5, 1352px 762px #3F51B5, 771px 1694px #3F51B5, 1529px 484px #3F51B5, 1609px 798px #3F51B5, 652px 627px #3F51B5, 498px 20px #3F51B5, 1308px 164px #3F51B5, 245px 1239px #3F51B5, 1131px 860px #3F51B5, 1028px 333px #3F51B5, 765px 1760px #3F51B5, 1627px 684px #3F51B5, 70px 1586px #3F51B5, 63px 1230px #3F51B5, 1727px 465px #3F51B5, 1946px 1862px #3F51B5, 169px 956px #3F51B5, 121px 1826px #3F51B5, 1615px 725px #3F51B5, 1225px 1925px #3F51B5, 1678px 323px #3F51B5, 606px 371px #3F51B5, 616px 985px #3F51B5, 490px 1898px #3F51B5, 516px 1019px #3F51B5, 878px 1448px #3F51B5, 1533px 98px #3F51B5, 625px 1152px #3F51B5, 224px 522px #3F51B5, 215px 245px #3F51B5, 153px 669px #3F51B5, 1530px 1652px #3F51B5, 1796px 1697px #3F51B5, 908px 1456px #3F51B5, 1326px 1947px #3F51B5, 1294px 872px #3F51B5, 806px 1296px #3F51B5, 783px 556px #3F51B5, 1075px 973px #3F51B5, 613px 505px #3F51B5, 1160px 833px #3F51B5, 1053px 1793px #3F51B5, 1343px 1990px #3F51B5, 937px 254px #3F51B5, 1084px 234px #3F51B5, 575px 374px #3F51B5, 367px 1656px #3F51B5, 494px 510px #3F51B5, 1403px 1242px #3F51B5, 1827px 1741px #3F51B5, 1239px 616px #3F51B5, 579px 1670px #3F51B5, 971px 836px #3F51B5, 1025px 813px #3F51B5, 707px 1407px #3F51B5, 188px 1777px #3F51B5, 1576px 18px #3F51B5, 1px 533px #3F51B5, 1123px 589px #3F51B5, 88px 705px #3F51B5, 1844px 679px #3F51B5, 121px 350px #3F51B5, 1853px 470px #3F51B5, 1333px 263px #3F51B5, 1702px 957px #3F51B5, 475px 725px #3F51B5, 1650px 75px #3F51B5, 1372px 11px #3F51B5, 714px 353px #3F51B5, 968px 461px #3F51B5, 1413px 1400px #3F51B5, 1856px 1724px #3F51B5, 793px 1524px #3F51B5, 1717px 962px #3F51B5, 1263px 1567px #3F51B5, 1621px 1961px #3F51B5, 537px 243px #3F51B5, 912px 1140px #3F51B5, 659px 1300px #3F51B5, 113px 516px #3F51B5, 1111px 1738px #3F51B5, 336px 953px #3F51B5, 1038px 248px #3F51B5, 692px 935px #3F51B5, 516px 1451px #3F51B5, 1057px 401px #3F51B5, 1014px 388px #3F51B5, 1363px 1764px #3F51B5, 855px 745px #3F51B5, 57px 767px #3F51B5, 779px 1263px #3F51B5, 1746px 1797px #3F51B5, 1975px 848px #3F51B5, 1051px 941px #3F51B5, 79px 1146px #3F51B5, 1945px 1015px #3F51B5, 1506px 1855px #3F51B5, 955px 730px #3F51B5, 27px 1865px #3F51B5, 1378px 1691px #3F51B5, 969px 1738px #3F51B5, 206px 842px #3F51B5, 1068px 91px #3F51B5, 1466px 1725px #3F51B5, 533px 1091px #3F51B5, 1205px 748px #3F51B5, 324px 398px #3F51B5, 1417px 1048px #3F51B5, 349px 1827px #3F51B5, 730px 1048px #3F51B5, 1671px 690px #3F51B5, 1441px 1068px #3F51B5, 251px 925px #3F51B5, 144px 1631px #3F51B5, 108px 1524px #3F51B5, 187px 1172px #3F51B5, 183px 403px #3F51B5, 907px 1873px #3F51B5, 973px 104px #3F51B5, 65px 1390px #3F51B5, 372px 1486px #3F51B5, 424px 765px #3F51B5, 1410px 350px #3F51B5, 760px 827px #3F51B5, 1179px 612px #3F51B5, 251px 1106px #3F51B5, 657px 851px #3F51B5, 63px 925px #3F51B5, 1272px 1791px #3F51B5, 1361px 1189px #3F51B5, 778px 1101px #3F51B5, 817px 1436px #3F51B5, 1884px 1440px #3F51B5, 1662px 1781px #3F51B5, 276px 990px #3F51B5, 1835px 1617px #3F51B5, 1516px 246px #3F51B5, 544px 1792px #3F51B5, 667px 1652px #3F51B5, 1142px 1221px #3F51B5, 1417px 38px #3F51B5, 33px 1467px #3F51B5, 1087px 1608px #3F51B5, 1406px 1323px #3F51B5, 440px 1564px #3F51B5, 1697px 758px #3F51B5, 743px 340px #3F51B5, 1244px 218px #3F51B5, 1382px 1783px #3F51B5, 539px 1285px #3F51B5, 273px 592px #3F51B5, 1268px 444px #3F51B5, 1302px 70px #3F51B5, 989px 478px #3F51B5, 1044px 1477px #3F51B5, 395px 803px #3F51B5, 1609px 1799px #3F51B5, 999px 100px #3F51B5, 1444px 2000px #3F51B5, 1966px 1675px #3F51B5, 51px 822px #3F51B5, 1387px 825px #3F51B5, 983px 440px #3F51B5, 1269px 624px #3F51B5, 1303px 1455px #3F51B5, 666px 313px #3F51B5, 1776px 132px #3F51B5, 1041px 1523px #3F51B5, 168px 1599px #3F51B5, 1714px 604px #3F51B5, 657px 594px #3F51B5, 1301px 1318px #3F51B5, 961px 541px #3F51B5, 310px 422px #3F51B5, 636px 1847px #3F51B5, 814px 1005px #3F51B5, 444px 1093px #3F51B5, 583px 1551px #3F51B5, 1746px 1807px #3F51B5, 1550px 1359px #3F51B5, 283px 1837px #3F51B5, 1257px 1772px #3F51B5, 1620px 1691px #3F51B5, 727px 1180px #3F51B5, 798px 1744px #3F51B5, 754px 1707px #3F51B5, 1871px 189px #3F51B5, 1355px 1000px #3F51B5, 1839px 599px #3F51B5, 7px 1689px #3F51B5, 775px 966px #3F51B5, 231px 1980px #3F51B5, 1231px 717px #3F51B5, 1748px 1658px #3F51B5, 385px 1352px #3F51B5, 1168px 182px #3F51B5, 576px 997px #3F51B5, 1955px 279px #3F51B5, 314px 1162px #3F51B5, 626px 1525px #3F51B5, 1372px 597px #3F51B5, 168px 809px #3F51B5, 1559px 1646px #3F51B5, 1316px 600px #3F51B5, 1903px 1615px #3F51B5, 1899px 173px #3F51B5, 1936px 1042px #3F51B5, 977px 180px #3F51B5, 80px 1132px #3F51B5, 1258px 287px #3F51B5, 1944px 1624px #3F51B5, 1710px 1271px #3F51B5, 859px 315px #3F51B5, 658px 601px #3F51B5, 444px 516px #3F51B5, 1443px 70px #3F51B5, 61px 1468px #3F51B5, 67px 338px #3F51B5, 1888px 711px #3F51B5, 1838px 1848px #3F51B5, 1252px 774px #3F51B5, 1986px 1392px #3F51B5, 1734px 213px #3F51B5, 1904px 76px #3F51B5, 1503px 1882px #3F51B5, 268px 113px #3F51B5, 1124px 387px #3F51B5, 565px 1591px #3F51B5, 446px 1116px #3F51B5, 1861px 661px #3F51B5, 55px 1090px #3F51B5, 328px 837px #3F51B5, 775px 85px #3F51B5, 436px 632px #3F51B5, 1704px 904px #3F51B5, 406px 1068px #3F51B5, 1077px 719px #3F51B5, 125px 722px #3F51B5, 1735px 174px #3F51B5, 1541px 1590px #3F51B5, 1883px 498px #3F51B5, 733px 1195px #3F51B5, 1178px 1793px #3F51B5, 254px 719px #3F51B5, 1790px 545px #3F51B5, 799px 454px #3F51B5, 1076px 1737px #3F51B5, 360px 95px #3F51B5, 516px 1367px #3F51B5, 1016px 493px #3F51B5, 1340px 15px #3F51B5, 1843px 355px #3F51B5, 416px 1857px #3F51B5, 1745px 1967px #3F51B5, 1768px 1266px #3F51B5, 778px 1437px #3F51B5, 1892px 1480px #3F51B5, 1861px 1700px #3F51B5, 1973px 832px #3F51B5, 132px 1773px #3F51B5, 1928px 1974px #3F51B5, 470px 1852px #3F51B5, 1855px 463px #3F51B5, 892px 1018px #3F51B5, 374px 1670px #3F51B5, 140px 391px #3F51B5, 1868px 1945px #3F51B5, 505px 1988px #3F51B5, 1798px 1514px #3F51B5, 134px 873px #3F51B5, 1319px 1278px #3F51B5, 1796px 1403px #3F51B5, 1400px 503px #3F51B5, 480px 1004px #3F51B5, 53px 434px #3F51B5, 1075px 507px #3F51B5, 1376px 13px #3F51B5, 150px 623px #3F51B5, 563px 1355px #3F51B5, 1464px 858px #3F51B5, 1123px 967px #3F51B5, 1273px 1412px #3F51B5, 1378px 1689px #3F51B5, 1390px 1248px #3F51B5, 273px 191px #3F51B5, 471px 46px #3F51B5, 1520px 780px #3F51B5, 830px 530px #3F51B5, 1369px 1915px #3F51B5, 434px 1541px #3F51B5, 1658px 753px #3F51B5, 1955px 1908px #3F51B5, 409px 1106px #3F51B5, 1609px 597px #3F51B5, 637px 1671px #3F51B5, 1957px 475px #3F51B5, 1595px 1496px #3F51B5, 1979px 1958px #3F51B5, 1364px 1658px #3F51B5, 929px 425px #3F51B5, 1197px 967px #3F51B5, 82px 1164px #3F51B5, 310px 176px #3F51B5, 1242px 1822px #3F51B5, 1081px 484px #3F51B5, 1436px 1211px #3F51B5, 992px 1826px #3F51B5, 1801px 714px #3F51B5, 1034px 16px #3F51B5, 1241px 145px #3F51B5, 1815px 811px #3F51B5, 517px 111px #3F51B5, 512px 1871px #3F51B5, 185px 1024px #3F51B5, 869px 1606px #3F51B5, 904px 1418px #3F51B5, 271px 807px #3F51B5, 1627px 1971px #3F51B5, 1048px 200px #3F51B5, 1543px 152px #3F51B5, 1559px 924px #3F51B5, 1205px 1281px #3F51B5, 1073px 697px #3F51B5, 1614px 426px #3F51B5, 1064px 1329px #3F51B5, 1963px 1252px #3F51B5, 444px 992px #3F51B5, 553px 1688px #3F51B5, 298px 578px #3F51B5, 772px 636px #3F51B5, 1755px 1446px #3F51B5, 1503px 450px #3F51B5, 504px 135px #3F51B5, 1714px 314px #3F51B5, 447px 1165px #3F51B5, 1903px 1258px #3F51B5, 1916px 434px #3F51B5, 1468px 1851px #3F51B5, 631px 244px #3F51B5, 201px 1060px #3F51B5, 88px 340px #3F51B5, 342px 1039px #3F51B5, 699px 488px #3F51B5, 1284px 1794px #3F51B5, 1458px 759px #3F51B5, 1335px 1629px #3F51B5, 1367px 1363px #3F51B5, 185px 235px #3F51B5, 76px 1315px #3F51B5, 1528px 198px #3F51B5, 471px 1165px #3F51B5, 1160px 1077px #3F51B5, 79px 473px #3F51B5, 114px 654px #3F51B5, 1400px 722px #3F51B5, 829px 1532px #3F51B5, 448px 941px #3F51B5, 627px 1987px #3F51B5, 820px 919px #3F51B5, 1506px 217px #3F51B5, 1946px 1562px #3F51B5, 142px 1489px #3F51B5, 793px 602px #3F51B5, 441px 91px #3F51B5, 259px 453px #3F51B5, 1538px 1732px #3F51B5, 1498px 1501px #3F51B5, 656px 805px #3F51B5, 1808px 1178px #3F51B5, 1954px 890px #3F51B5, 656px 1605px #3F51B5, 1177px 350px #3F51B5, 666px 992px #3F51B5, 1486px 305px #3F51B5, 661px 1647px #3F51B5, 1209px 1168px #3F51B5, 1499px 1450px #3F51B5, 554px 98px #3F51B5, 744px 1047px #3F51B5, 2px 524px #3F51B5, 383px 1086px #3F51B5, 1822px 244px #3F51B5, 1704px 1714px #3F51B5, 797px 1527px #3F51B5, 1916px 1610px #3F51B5, 1865px 860px #3F51B5, 1567px 1823px #3F51B5, 1340px 273px #3F51B5, 1133px 168px #3F51B5, 557px 1978px #3F51B5, 1419px 1724px #3F51B5, 668px 538px #3F51B5, 1411px 1026px #3F51B5, 1194px 1431px #3F51B5, 267px 1899px #3F51B5, 556px 950px #3F51B5, 1847px 1514px #3F51B5, 255px 131px #3F51B5, 442px 441px #3F51B5, 1089px 1011px #3F51B5, 1931px 1781px #3F51B5, 187px 119px #3F51B5, 1317px 1797px #3F51B5, 15px 971px #3F51B5, 1542px 618px #3F51B5, 594px 1216px #3F51B5, 523px 1980px #3F51B5, 682px 1977px #3F51B5, 1840px 1934px #3F51B5, 73px 1975px #3F51B5, 192px 37px #3F51B5, 1796px 1491px #3F51B5, 237px 418px #3F51B5, 635px 1936px #3F51B5, 735px 421px #3F51B5, 1785px 1564px #3F51B5, 85px 1401px #3F51B5, 288px 1436px #3F51B5, 972px 1682px #3F51B5, 986px 206px #3F51B5, 730px 1225px #3F51B5, 569px 557px #3F51B5, 1805px 1898px #3F51B5, 488px 1963px #3F51B5, 877px 997px #3F51B5, 545px 1029px #3F51B5, 1725px 1017px #3F51B5, 1320px 1855px #3F51B5, 1220px 409px #3F51B5, 1911px 453px #3F51B5, 784px 636px #3F51B5, 570px 862px #3F51B5, 1009px 7px #3F51B5, 432px 1640px #3F51B5, 1941px 1197px #3F51B5, 422px 994px #3F51B5, 465px 1879px #3F51B5, 918px 200px #3F51B5, 1978px 1313px #3F51B5, 520px 954px #3F51B5, 1270px 1594px #3F51B5, 1087px 578px #3F51B5, 1597px 58px #3F51B5, 1782px 550px #3F51B5, 274px 204px #3F51B5, 1743px 1662px #3F51B5, 441px 1338px #3F51B5, 545px 1844px #3F51B5, 1702px 894px #3F51B5, 1760px 1426px #3F51B5, 795px 1068px #3F51B5, 1076px 373px #3F51B5, 1666px 1594px #3F51B5, 1490px 1257px #3F51B5, 7px 1967px #3F51B5, 357px 1354px #3F51B5, 1740px 1071px #3F51B5, 1876px 1981px #3F51B5, 421px 1758px #3F51B5, 750px 1071px #3F51B5, 963px 266px #3F51B5, 918px 1422px #3F51B5, 811px 463px #3F51B5, 1084px 1186px #3F51B5, 950px 1852px #3F51B5, 709px 916px #3F51B5, 37px 1612px #3F51B5, 777px 747px #3F51B5, 749px 1663px #3F51B5, 1036px 600px #3F51B5, 1951px 1697px #3F51B5, 1208px 1139px #3F51B5, 549px 400px #3F51B5, 1144px 584px #3F51B5, 1466px 1315px #3F51B5, 131px 826px #3F51B5, 172px 1097px #3F51B5, 253px 97px #3F51B5, 197px 422px #3F51B5, 792px 25px #3F51B5, 957px 1632px #3F51B5, 1209px 889px #3F51B5, 826px 638px #3F51B5, 1464px 1137px #3F51B5, 1189px 2px #3F51B5, 1737px 1514px #3F51B5, 142px 954px #3F51B5, 1831px 544px #3F51B5, 1008px 779px #3F51B5, 1889px 257px #3F51B5, 1006px 1085px #3F51B5, 428px 1043px #3F51B5, 1915px 1585px #3F51B5, 232px 1935px #3F51B5, 767px 706px #3F51B5, 431px 334px #3F51B5, 897px 15px #3F51B5, 705px 146px #3F51B5;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #3F51B5, 1145px 1260px #3F51B5, 1412px 672px #3F51B5, 507px 1211px #3F51B5, 52px 89px #3F51B5, 1045px 256px #3F51B5, 1022px 859px #3F51B5, 1520px 413px #3F51B5, 1575px 604px #3F51B5, 992px 877px #3F51B5, 914px 960px #3F51B5, 139px 685px #3F51B5, 720px 707px #3F51B5, 1235px 945px #3F51B5, 1256px 1153px #3F51B5, 1223px 641px #3F51B5, 1810px 466px #3F51B5, 1011px 1248px #3F51B5, 799px 1160px #3F51B5, 770px 1135px #3F51B5, 1000px 1841px #3F51B5, 1733px 385px #3F51B5, 1142px 610px #3F51B5, 1047px 487px #3F51B5, 1268px 1604px #3F51B5, 1877px 835px #3F51B5, 1003px 698px #3F51B5, 525px 714px #3F51B5, 703px 960px #3F51B5, 267px 1336px #3F51B5, 1343px 133px #3F51B5, 230px 731px #3F51B5, 1613px 1782px #3F51B5, 758px 1457px #3F51B5, 1877px 1912px #3F51B5, 1155px 1320px #3F51B5, 719px 932px #3F51B5, 746px 69px #3F51B5, 1148px 186px #3F51B5, 1642px 1323px #3F51B5, 728px 1138px #3F51B5, 815px 461px #3F51B5, 1281px 137px #3F51B5, 132px 1620px #3F51B5, 685px 500px #3F51B5, 1067px 1439px #3F51B5, 101px 1941px #3F51B5, 218px 857px #3F51B5, 181px 1464px #3F51B5, 1403px 769px #3F51B5, 744px 815px #3F51B5, 1052px 553px #3F51B5, 1447px 1035px #3F51B5, 814px 1090px #3F51B5, 1127px 1883px #3F51B5, 689px 83px #3F51B5, 1067px 1753px #3F51B5, 1948px 34px #3F51B5, 676px 1749px #3F51B5, 830px 1875px #3F51B5, 836px 512px #3F51B5, 1847px 800px #3F51B5, 920px 1950px #3F51B5, 368px 71px #3F51B5, 1773px 818px #3F51B5, 215px 1460px #3F51B5, 1246px 1249px #3F51B5, 1078px 470px #3F51B5, 401px 437px #3F51B5, 1711px 1570px #3F51B5, 1345px 506px #3F51B5, 397px 571px #3F51B5, 1610px 1971px #3F51B5, 1134px 1569px #3F51B5, 163px 322px #3F51B5, 1837px 371px #3F51B5, 485px 424px #3F51B5, 488px 1287px #3F51B5, 747px 354px #3F51B5, 944px 939px #3F51B5, 505px 100px #3F51B5, 470px 1438px #3F51B5, 1222px 1874px #3F51B5, 559px 316px #3F51B5, 1188px 1154px #3F51B5, 136px 11px #3F51B5, 1213px 1280px #3F51B5, 335px 422px #3F51B5, 1849px 388px #3F51B5, 181px 1449px #3F51B5, 1945px 1622px #3F51B5, 1609px 1373px #3F51B5, 901px 922px #3F51B5, 1413px 520px #3F51B5, 1526px 1563px #3F51B5, 1318px 1232px #3F51B5, 1623px 518px #3F51B5, 664px 76px #3F51B5, 1692px 1963px #3F51B5, 1752px 1104px #3F51B5, 1291px 1249px #3F51B5, 369px 1823px #3F51B5, 552px 1779px #3F51B5, 1007px 634px #3F51B5, 391px 1101px #3F51B5, 1480px 1260px #3F51B5, 1375px 251px #3F51B5, 594px 1939px #3F51B5, 1832px 333px #3F51B5, 1233px 1790px #3F51B5, 1802px 648px #3F51B5, 1934px 798px #3F51B5, 1781px 1814px #3F51B5, 1849px 1544px #3F51B5, 568px 771px #3F51B5, 527px 169px #3F51B5, 1094px 62px #3F51B5, 713px 1750px #3F51B5, 290px 563px #3F51B5, 1704px 935px #3F51B5, 1207px 1612px #3F51B5, 202px 1971px #3F51B5, 1451px 355px #3F51B5, 1749px 571px #3F51B5, 1292px 1565px #3F51B5, 1827px 1082px #3F51B5, 22px 984px #3F51B5, 1315px 1760px #3F51B5, 1699px 1391px #3F51B5, 1793px 1715px #3F51B5, 1501px 49px #3F51B5, 1480px 1502px #3F51B5, 1455px 1964px #3F51B5, 1787px 1539px #3F51B5, 462px 883px #3F51B5, 84px 1082px #3F51B5, 1589px 1414px #3F51B5, 121px 1323px #3F51B5, 788px 494px #3F51B5, 109px 109px #3F51B5, 951px 1299px #3F51B5, 872px 1535px #3F51B5, 1171px 806px #3F51B5, 671px 598px #3F51B5, 1767px 1069px #3F51B5, 192px 1881px #3F51B5, 1263px 171px #3F51B5, 1532px 224px #3F51B5, 664px 1191px #3F51B5, 145px 686px #3F51B5, 638px 1744px #3F51B5, 1099px 332px #3F51B5, 1119px 802px #3F51B5, 530px 1776px #3F51B5, 765px 1011px #3F51B5, 1528px 1117px #3F51B5, 1375px 1170px #3F51B5, 1454px 470px #3F51B5, 299px 558px #3F51B5, 960px 655px #3F51B5, 1816px 1220px #3F51B5, 1165px 1486px #3F51B5, 260px 731px #3F51B5, 548px 80px #3F51B5, 1003px 1239px #3F51B5, 1058px 230px #3F51B5, 505px 1085px #3F51B5, 140px 1772px #3F51B5, 1439px 326px #3F51B5, 1456px 778px #3F51B5, 915px 1545px #3F51B5, 430px 1368px #3F51B5, 849px 587px #3F51B5, 1231px 869px #3F51B5, 1662px 928px #3F51B5, 1903px 38px #3F51B5, 1052px 1977px #3F51B5, 1935px 1481px #3F51B5, 538px 1271px #3F51B5, 1511px 1304px #3F51B5, 1617px 1015px #3F51B5, 489px 1088px #3F51B5, 996px 1039px #3F51B5, 201px 1878px #3F51B5, 466px 1689px #3F51B5, 1363px 862px #3F51B5, 1374px 1714px #3F51B5, 549px 787px #3F51B5, 1669px 1043px #3F51B5, 697px 1874px #3F51B5, 1915px 1724px #3F51B5, 1488px 1629px #3F51B5, 1545px 1875px #3F51B5, 978px 1201px #3F51B5, 1126px 1916px #3F51B5, 412px 592px #3F51B5, 852px 732px #3F51B5, 1060px 444px #3F51B5, 323px 1676px #3F51B5, 1593px 1616px #3F51B5;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #3F51B5, 1145px 1260px #3F51B5, 1412px 672px #3F51B5, 507px 1211px #3F51B5, 52px 89px #3F51B5, 1045px 256px #3F51B5, 1022px 859px #3F51B5, 1520px 413px #3F51B5, 1575px 604px #3F51B5, 992px 877px #3F51B5, 914px 960px #3F51B5, 139px 685px #3F51B5, 720px 707px #3F51B5, 1235px 945px #3F51B5, 1256px 1153px #3F51B5, 1223px 641px #3F51B5, 1810px 466px #3F51B5, 1011px 1248px #3F51B5, 799px 1160px #3F51B5, 770px 1135px #3F51B5, 1000px 1841px #3F51B5, 1733px 385px #3F51B5, 1142px 610px #3F51B5, 1047px 487px #3F51B5, 1268px 1604px #3F51B5, 1877px 835px #3F51B5, 1003px 698px #3F51B5, 525px 714px #3F51B5, 703px 960px #3F51B5, 267px 1336px #3F51B5, 1343px 133px #3F51B5, 230px 731px #3F51B5, 1613px 1782px #3F51B5, 758px 1457px #3F51B5, 1877px 1912px #3F51B5, 1155px 1320px #3F51B5, 719px 932px #3F51B5, 746px 69px #3F51B5, 1148px 186px #3F51B5, 1642px 1323px #3F51B5, 728px 1138px #3F51B5, 815px 461px #3F51B5, 1281px 137px #3F51B5, 132px 1620px #3F51B5, 685px 500px #3F51B5, 1067px 1439px #3F51B5, 101px 1941px #3F51B5, 218px 857px #3F51B5, 181px 1464px #3F51B5, 1403px 769px #3F51B5, 744px 815px #3F51B5, 1052px 553px #3F51B5, 1447px 1035px #3F51B5, 814px 1090px #3F51B5, 1127px 1883px #3F51B5, 689px 83px #3F51B5, 1067px 1753px #3F51B5, 1948px 34px #3F51B5, 676px 1749px #3F51B5, 830px 1875px #3F51B5, 836px 512px #3F51B5, 1847px 800px #3F51B5, 920px 1950px #3F51B5, 368px 71px #3F51B5, 1773px 818px #3F51B5, 215px 1460px #3F51B5, 1246px 1249px #3F51B5, 1078px 470px #3F51B5, 401px 437px #3F51B5, 1711px 1570px #3F51B5, 1345px 506px #3F51B5, 397px 571px #3F51B5, 1610px 1971px #3F51B5, 1134px 1569px #3F51B5, 163px 322px #3F51B5, 1837px 371px #3F51B5, 485px 424px #3F51B5, 488px 1287px #3F51B5, 747px 354px #3F51B5, 944px 939px #3F51B5, 505px 100px #3F51B5, 470px 1438px #3F51B5, 1222px 1874px #3F51B5, 559px 316px #3F51B5, 1188px 1154px #3F51B5, 136px 11px #3F51B5, 1213px 1280px #3F51B5, 335px 422px #3F51B5, 1849px 388px #3F51B5, 181px 1449px #3F51B5, 1945px 1622px #3F51B5, 1609px 1373px #3F51B5, 901px 922px #3F51B5, 1413px 520px #3F51B5, 1526px 1563px #3F51B5, 1318px 1232px #3F51B5, 1623px 518px #3F51B5, 664px 76px #3F51B5, 1692px 1963px #3F51B5, 1752px 1104px #3F51B5, 1291px 1249px #3F51B5, 369px 1823px #3F51B5, 552px 1779px #3F51B5, 1007px 634px #3F51B5, 391px 1101px #3F51B5, 1480px 1260px #3F51B5, 1375px 251px #3F51B5, 594px 1939px #3F51B5, 1832px 333px #3F51B5, 1233px 1790px #3F51B5, 1802px 648px #3F51B5, 1934px 798px #3F51B5, 1781px 1814px #3F51B5, 1849px 1544px #3F51B5, 568px 771px #3F51B5, 527px 169px #3F51B5, 1094px 62px #3F51B5, 713px 1750px #3F51B5, 290px 563px #3F51B5, 1704px 935px #3F51B5, 1207px 1612px #3F51B5, 202px 1971px #3F51B5, 1451px 355px #3F51B5, 1749px 571px #3F51B5, 1292px 1565px #3F51B5, 1827px 1082px #3F51B5, 22px 984px #3F51B5, 1315px 1760px #3F51B5, 1699px 1391px #3F51B5, 1793px 1715px #3F51B5, 1501px 49px #3F51B5, 1480px 1502px #3F51B5, 1455px 1964px #3F51B5, 1787px 1539px #3F51B5, 462px 883px #3F51B5, 84px 1082px #3F51B5, 1589px 1414px #3F51B5, 121px 1323px #3F51B5, 788px 494px #3F51B5, 109px 109px #3F51B5, 951px 1299px #3F51B5, 872px 1535px #3F51B5, 1171px 806px #3F51B5, 671px 598px #3F51B5, 1767px 1069px #3F51B5, 192px 1881px #3F51B5, 1263px 171px #3F51B5, 1532px 224px #3F51B5, 664px 1191px #3F51B5, 145px 686px #3F51B5, 638px 1744px #3F51B5, 1099px 332px #3F51B5, 1119px 802px #3F51B5, 530px 1776px #3F51B5, 765px 1011px #3F51B5, 1528px 1117px #3F51B5, 1375px 1170px #3F51B5, 1454px 470px #3F51B5, 299px 558px #3F51B5, 960px 655px #3F51B5, 1816px 1220px #3F51B5, 1165px 1486px #3F51B5, 260px 731px #3F51B5, 548px 80px #3F51B5, 1003px 1239px #3F51B5, 1058px 230px #3F51B5, 505px 1085px #3F51B5, 140px 1772px #3F51B5, 1439px 326px #3F51B5, 1456px 778px #3F51B5, 915px 1545px #3F51B5, 430px 1368px #3F51B5, 849px 587px #3F51B5, 1231px 869px #3F51B5, 1662px 928px #3F51B5, 1903px 38px #3F51B5, 1052px 1977px #3F51B5, 1935px 1481px #3F51B5, 538px 1271px #3F51B5, 1511px 1304px #3F51B5, 1617px 1015px #3F51B5, 489px 1088px #3F51B5, 996px 1039px #3F51B5, 201px 1878px #3F51B5, 466px 1689px #3F51B5, 1363px 862px #3F51B5, 1374px 1714px #3F51B5, 549px 787px #3F51B5, 1669px 1043px #3F51B5, 697px 1874px #3F51B5, 1915px 1724px #3F51B5, 1488px 1629px #3F51B5, 1545px 1875px #3F51B5, 978px 1201px #3F51B5, 1126px 1916px #3F51B5, 412px 592px #3F51B5, 852px 732px #3F51B5, 1060px 444px #3F51B5, 323px 1676px #3F51B5, 1593px 1616px #3F51B5;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #3F51B5, 381px 207px #3F51B5, 1516px 1990px #3F51B5, 1960px 982px #3F51B5, 922px 1278px #3F51B5, 689px 1766px #3F51B5, 538px 554px #3F51B5, 802px 1529px #3F51B5, 871px 1805px #3F51B5, 228px 1830px #3F51B5, 353px 186px #3F51B5, 1873px 1154px #3F51B5, 494px 1244px #3F51B5, 1415px 261px #3F51B5, 1020px 1990px #3F51B5, 1924px 1169px #3F51B5, 1205px 464px #3F51B5, 596px 830px #3F51B5, 1319px 504px #3F51B5, 953px 1850px #3F51B5, 408px 1360px #3F51B5, 569px 1704px #3F51B5, 1367px 729px #3F51B5, 807px 1845px #3F51B5, 572px 825px #3F51B5, 523px 1089px #3F51B5, 1405px 1622px #3F51B5, 1352px 423px #3F51B5, 1247px 1758px #3F51B5, 1117px 920px #3F51B5, 983px 352px #3F51B5, 175px 1351px #3F51B5, 962px 260px #3F51B5, 918px 1530px #3F51B5, 1184px 935px #3F51B5, 201px 473px #3F51B5, 90px 1759px #3F51B5, 211px 933px #3F51B5, 1887px 171px #3F51B5, 177px 101px #3F51B5, 844px 346px #3F51B5, 283px 1821px #3F51B5, 1236px 1225px #3F51B5, 173px 1875px #3F51B5, 24px 1776px #3F51B5, 277px 804px #3F51B5, 1714px 715px #3F51B5, 937px 1882px #3F51B5, 1708px 1405px #3F51B5, 173px 1847px #3F51B5, 1902px 1160px #3F51B5, 1725px 1270px #3F51B5, 36px 18px #3F51B5, 1612px 1467px #3F51B5, 1390px 1733px #3F51B5, 927px 1315px #3F51B5, 1907px 1337px #3F51B5, 1855px 1454px #3F51B5, 1033px 1425px #3F51B5, 1450px 1359px #3F51B5, 1422px 771px #3F51B5, 256px 343px #3F51B5, 1581px 340px #3F51B5, 1180px 247px #3F51B5, 191px 882px #3F51B5, 372px 1171px #3F51B5, 1509px 937px #3F51B5, 1018px 1829px #3F51B5, 121px 152px #3F51B5, 327px 767px #3F51B5, 1438px 1421px #3F51B5, 321px 905px #3F51B5, 616px 245px #3F51B5, 1957px 1520px #3F51B5, 1811px 1924px #3F51B5, 1454px 1778px #3F51B5, 1507px 822px #3F51B5, 649px 218px #3F51B5, 362px 1567px #3F51B5, 1637px 145px #3F51B5, 115px 466px #3F51B5, 345px 935px #3F51B5, 112px 1019px #3F51B5, 1440px 1910px #3F51B5, 1280px 1367px #3F51B5, 1505px 890px #3F51B5, 788px 927px #3F51B5, 753px 1273px #3F51B5, 1924px 1714px #3F51B5, 495px 1149px #3F51B5, 267px 1851px #3F51B5, 1293px 1431px #3F51B5, 1159px 433px #3F51B5, 1725px 1170px #3F51B5, 1067px 296px #3F51B5, 746px 463px #3F51B5, 412px 349px #3F51B5, 1193px 1421px #3F51B5, 564px 455px #3F51B5, 1675px 589px #3F51B5;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #3F51B5, 381px 207px #3F51B5, 1516px 1990px #3F51B5, 1960px 982px #3F51B5, 922px 1278px #3F51B5, 689px 1766px #3F51B5, 538px 554px #3F51B5, 802px 1529px #3F51B5, 871px 1805px #3F51B5, 228px 1830px #3F51B5, 353px 186px #3F51B5, 1873px 1154px #3F51B5, 494px 1244px #3F51B5, 1415px 261px #3F51B5, 1020px 1990px #3F51B5, 1924px 1169px #3F51B5, 1205px 464px #3F51B5, 596px 830px #3F51B5, 1319px 504px #3F51B5, 953px 1850px #3F51B5, 408px 1360px #3F51B5, 569px 1704px #3F51B5, 1367px 729px #3F51B5, 807px 1845px #3F51B5, 572px 825px #3F51B5, 523px 1089px #3F51B5, 1405px 1622px #3F51B5, 1352px 423px #3F51B5, 1247px 1758px #3F51B5, 1117px 920px #3F51B5, 983px 352px #3F51B5, 175px 1351px #3F51B5, 962px 260px #3F51B5, 918px 1530px #3F51B5, 1184px 935px #3F51B5, 201px 473px #3F51B5, 90px 1759px #3F51B5, 211px 933px #3F51B5, 1887px 171px #3F51B5, 177px 101px #3F51B5, 844px 346px #3F51B5, 283px 1821px #3F51B5, 1236px 1225px #3F51B5, 173px 1875px #3F51B5, 24px 1776px #3F51B5, 277px 804px #3F51B5, 1714px 715px #3F51B5, 937px 1882px #3F51B5, 1708px 1405px #3F51B5, 173px 1847px #3F51B5, 1902px 1160px #3F51B5, 1725px 1270px #3F51B5, 36px 18px #3F51B5, 1612px 1467px #3F51B5, 1390px 1733px #3F51B5, 927px 1315px #3F51B5, 1907px 1337px #3F51B5, 1855px 1454px #3F51B5, 1033px 1425px #3F51B5, 1450px 1359px #3F51B5, 1422px 771px #3F51B5, 256px 343px #3F51B5, 1581px 340px #3F51B5, 1180px 247px #3F51B5, 191px 882px #3F51B5, 372px 1171px #3F51B5, 1509px 937px #3F51B5, 1018px 1829px #3F51B5, 121px 152px #3F51B5, 327px 767px #3F51B5, 1438px 1421px #3F51B5, 321px 905px #3F51B5, 616px 245px #3F51B5, 1957px 1520px #3F51B5, 1811px 1924px #3F51B5, 1454px 1778px #3F51B5, 1507px 822px #3F51B5, 649px 218px #3F51B5, 362px 1567px #3F51B5, 1637px 145px #3F51B5, 115px 466px #3F51B5, 345px 935px #3F51B5, 112px 1019px #3F51B5, 1440px 1910px #3F51B5, 1280px 1367px #3F51B5, 1505px 890px #3F51B5, 788px 927px #3F51B5, 753px 1273px #3F51B5, 1924px 1714px #3F51B5, 495px 1149px #3F51B5, 267px 1851px #3F51B5, 1293px 1431px #3F51B5, 1159px 433px #3F51B5, 1725px 1170px #3F51B5, 1067px 296px #3F51B5, 746px 463px #3F51B5, 412px 349px #3F51B5, 1193px 1421px #3F51B5, 564px 455px #3F51B5, 1675px 589px #3F51B5;
}

#title {
  color: black;
  text-align: left;
  font-family: "trip", serif;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 9vh 0 0 5vw;
}

#title span {
  color: #000;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}


#title span {
  display: inline-block;
}

.explore {
  position: relative;
  left: -100%;
  opacity: 0;
  animation: slideIn 0.7s ease forwards;
}

.lastex {
  font-size: 3rem;
  margin-left: 2vw;
  position: relative;
  left: -100%;
  opacity: 0;
  animation: slideIn 1.3s ease forwards;
}


@keyframes slideIn {
  to {
    left: 0;
    opacity: 1;
  }
}



/*carousel*/
.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #e73700;
}

h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}

button {
  outline: none !important;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: #3F51B5;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 25vw;
  height: 30vh;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

/*cards*/

.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-right: auto;
  width: 90vw;
}

.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}

.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}

.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}

.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
  width: 70px;
}

.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}

.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}

.projcard-textbox * {
  position: relative;
}

.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}

.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}

.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
  background-color: #0088FF;
}

.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-red .projcard-bar {
  background-color: #D62F1F;
}

.projcard-red::before {
  background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
}

.projcard-green .projcard-bar {
  background-color: #40BD00;
}

.projcard-green::before {
  background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.projcard-yellow .projcard-bar {
  background-color: #F5AF41;
}

.projcard-yellow::before {
  background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.projcard-orange .projcard-bar {
  background-color: #FF5722;
}

.projcard-orange::before {
  background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.projcard-brown .projcard-bar {
  background-color: #C49863;
}

.projcard-brown::before {
  background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.projcard-grey .projcard-bar {
  background-color: #424242;
}

.projcard-grey::before {
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}

.projcard-customcolor::before {
  background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}

.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}

.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

/*footer*/
.footer-bs {

  padding: 60px 40px;
  color: black;
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: #000;
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: #000;
  text-decoration: none;
}

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
  color: #000;
}

.footer-bs .footer-nav ul.list a:hover {
  color: #000;
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: #000;
}

.footer-bs .footer-social a:hover {
  color: #000;
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-ns p {
  font-size: 12px;
  color: #000;
}

@media (min-width: 768px) {

  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px #000;
  }
}